<div class="background">
    <!-- header and sidebar here as in the original page -->
    <div>
        <header>
            <h1> FICTION BATTLES</h1>
        </header>
        <div>
            <div data-component="sidebar">
                <div class="sidebar">
                    <ul class="first-menu">
                        <li class="list-group-item">
                            <a routerLink="/home"><i aria-hidden="true"><span class="menu-link">Home</span></i></a>
                        </li>
        
                        <li class="list-group-item">
                            <span class="menu-link" disabled>Community</span>
                            <ul class="list-group submenu">
                                <li class="list-group-item ">
                                    <a routerLink="/character" class="menu-link">Create a list</a>
                                </li>
                                <li class="list-group-item">
                                    <a routerLink="/post-page" class="menu-link">View All Lists</a>
                                </li>
                            </ul>
                        </li>
                        <li class="list-group-item ">
                            <a routerLink="/about"><i aria-hidden="true"><span class="menu-link">About</span></i></a>
                        </li>
                    </ul>
                    <!-- /.first-menu -->
                </div>
                <!-- /.sidebar -->
            </div>
        </div>
    </div>

    <div class="reset-password-container">
        
        <div *ngIf="showMessage" class="alert alert-success" role="alert">
            {{ message }}
          </div>
          
        <h2>Reset Password</h2>
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="password">New Password:</label>
                <input type="password" id="password" formControlName="password" class="form-control">
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control">
            </div>
            <button type="submit" [disabled]="resetForm.invalid">Submit</button>
        </form>
    </div>
</div>
