.reset-password-container {
    color: #B8CDDF; 
    border: none; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Center the container */
    width: 35%; 
    max-width: 400px; 
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); /* Dark background with opacity */
    border-radius: 10px;
    padding: 40px; /* Adjust padding as needed */

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reset-password-container h2 {
    color: #2BA18A; 
    font-family: serif; 
    margin-bottom: 20px; 
}

.form-group label {
    color: #2BA18A;
    font-size: 18px; 
    margin-bottom: 10px; 
    display: block; 
}

.form-group input {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 20px; 
    border-radius: 5px;
    border: 1px solid #2BA18A; 
    outline: none; 
}

button {
    width: 100%;
    padding: 10px 0; 
    margin-top: 20px; 
    border-radius: 5px; 
    border: none;
    color: #fff; 
    font-size: 18px; 
    background-color: #2BA18A; 
    cursor: pointer;
    transition: background-color 0.3s; 
}

button:hover {
    background-color: #1D7460; 
}

/* Error message styles */
.text-danger {
    color: #ff6b6b; /* Red color for error messages */
    text-align: left; /* Align text to the left */
    font-size: 14px; 
    margin-top: -15px; 
    margin-bottom: 20px; 
}
