.about-field-column {
    float: right;
    background-color: black;
    margin: 10%;
    width: 25%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aquamarine
}

.about-field-column p {
    margin: 2%;
}

.about-field-column h2 {
    text-align: center;
}

.about-field-row {
    background-color: darkgray;
}


/* Clear floats after the columns */

.about-field-row:after {
    content: "";
    display: table;
    clear: both;
}

.about-field-info {
    margin: 5%;
    padding-top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.info-text {
    text-align: center;
}

.info-header {
    margin-top: -20px;
}

button:hover {
    background-color: rgb(45, 92, 76);
}

.profile-window {
    margin-left: 90%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.459);
    border-radius: 10px;
    border: 2px solid black;
    color: white;
}

.profile-link {
    width: 70%;
    height: 30%;
    margin-top: 5%;
}

.profile-link:disabled {
    color: darkgray;
    background-color: gray;
    box-shadow: none;
}

button {
    width: 60%;
    height: 40px;
    position: inherit;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    color: rgb(0, 0, 0);
    font-size: large;
    background-color: aquamarine;
    box-shadow: 2px 2px 16px rgb(81, 161, 135);
}