.comment-form-textarea {
    width: 80%;
    color: aquamarine;
    height: 80%;
    display: block;
    margin-bottom: 2%;
    margin-top: 2%;
    border-radius: 10px;
    background-color: black;
    margin-left: 5%;
    font-size: 100%;
}

.comment-form-button {
    font-size: 80%;
    background: aquamarine;
    border-radius: 8px;
    color: black;
    margin-left: 74%;
}

.comment-form-button:hover:enabled {
    cursor: pointer;
    background: rgb(50, 99, 82);
}

.comment-form-button:disabled {
    opacity: 0.7;
    cursor: default;
}

.comment-form-textarea .profanity-filtered {
    border-color: red;
}